@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root{
    --main-color: #F28705;
    --white-color: #ffffff;
    --red-color: #F23030;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #F2CB05;
}
.container{
    display: flex;
    margin: auto;
    padding: 5px;
    width: 85%;
}
img{
    width: 100%;
    max-height: 500px;
}
.cardPrincipal{
    margin: 5px;
    padding: 15px;
    text-align: justify;
    background-color: #e6e6e6;
    border-radius: 10px;
}
h2{
    color: var(--main-color);
}
.footer{
    padding: 10px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color);
}

@media screen and (max-width: 850px) {
    .container{
        margin: 0px;
        width: auto;
        display: block;
    }
    .cardPrincipal{
        width: auto;
    }
}

@media screen and (max-width: 375px) {
    h2{
        font-size: 18px;
    }
}