* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
::before,
::after {
    border: 0;
    border-style: none;
}
:root{
    --main-c: #2788c0;
    --sub-c: #84c5ea; 
    --black: #000000;
}
body{
    background-color: #faebd7;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-c);
    margin-top: 5px;
    padding-bottom: 5px;
    max-width: 100vw;
}
.logo{
    padding: 10px;
}
.nav ul{
    list-style-type: none;
}
.nav li{
    float: left;
    padding: 10px;
    margin: 3px;
    border: 1px solid var(--black);
}
.nav a{
    color: var(--black);
    padding: 50px;
    font-weight: bolder;
    text-decoration: none;
}
.nav li:hover{
    transition: 0.5s;
    background-color: var(--sub-c);
}
.title{
    margin: auto;
    width: 800px;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #faebd7;
    margin: auto;
    margin-bottom: 10px;
}
.card{
    position: relative;
    margin: 5px;
    text-align: center;
}
.card img{
    width: 180px;
    height: 180px;
}
.card h4{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px;
    color: var(--black);
    bottom: 0;
    left: 0;
    right: 0;
}
.next_trip{
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 100vw;
    margin: auto;
}
.next_trip_txt{
    width: 600px;
    padding: 10px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    background-color: var(--sub-c);
    border-radius: 10px 0 0 10px;
}
.next_trip p{
    margin-bottom: 20px;
    color: #3d3d3d;
}
.next_trip img{
    max-width: 50%;
    max-height: 103px;
    border-radius: 0 10px 10px 0;
}
#btt_next_trip{
    border-radius: 18px;
    background-color: var(--black);
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
#btt_next_trip:hover{
    transition: 0.5s;
    background-color: #1f1f1f;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--main-c);
    margin: auto;
    padding: 10px;
    margin-top: 5px;
    max-width: 100vw;
}

@media screen and (max-width: 800px){
    .card img{
        width: 230px;
        height: 230px;
    }
}
@media screen and (max-width: 620px) {
    .nav ul{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 480px){
    .card img{
        width: 500px;
        height: 500px;
    }
    
}